<html>
	<head>
		<link rel="stylesheet" href=" /css/bootstrap.min.css">
		<link rel="stylesheet" href=" /css/app.css">
		<link rel="stylesheet" href=" /fonts/css/all.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	</head>
	<body>
		<section class="myform-area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 bg-light mt-5- px-3 card">
						<div class="card-header">


							<h1 class="text-center">Admin Panel</h1>
						</div>
						<div class="card-body">
							{% if hasError %}

								<div class="alert alert-danger alert-dismissible">
									<p>Une erreur est survenue, vérifiez que vous avez entré le bon email et mot de passe !
									</p>
								</div>
							{% endif %}
							<form acion="{{path('admin_account_login')}}" method="post">
								<div class="form-group">
									<label for="exampleInputEmail1">Email
									</label>
									<input type="email" class="form-control" name="_username" placeholder="Adresse email" value="{{username}}" required>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Mot de passe</label>
									<input type="password" class="form-control" name="_password" placeholder="Mot de passe" required>
								</div>

								<button type="submit" class="btn btn-primary">Se connecter</button>
							</form>
						</div>

					</div>

				</div>
			</div>

		</section>

	</body>

</html>
