div.adtitle h1,
div.adtitle p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

body {
    font-family: "Open Sans";
    background-color: white !important;
    color: #535B64;
}

div.adtitle {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.container {
    margin-top: 20px;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.card {
    box-shadow: 1px 1px 1px rgba(235, 104, 100, 0.5);
}

#box {
    box-shadow: 0 4px 8px 0 rgba(235, 104, 100, 0.5), 0 6px 20px 0 rgba(235, 104, 100, 0.5);
    border-radius: 25px;
}

#user-picture {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar-mini {
    max-width: 60px;
    max-height: 40px;
    border-radius: 50%;
}

body {
    margin-bottom: 40px;
}

#footer {
    width: 100%;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
    background-color: rgb(228, 222, 222) !important;
}

span.rating svg {
    color: goldenrod !important;
}

.btn-grad {
    background-image: linear-gradient(to right, #EC6F66 0%, #F3A183 51%, #EC6F66 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

p.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

p.card-text:hover {
    overflow: visible;
}

a {
    text-decoration: none;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: #D2EBF4;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#navAdmin {
    background-image: linear-gradient(to right, #F3A183 51%, #EC6F66 100%)
}

#tableRes {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}