<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AFBNB-{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="images/ico.png" />
        <link rel="stylesheet" href=" /css/bootstrap.min.css" >
        <link rel="stylesheet" href=" /css/app.css" >
        <link rel="stylesheet" href=" /fonts/css/all.css" >
       <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        {% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha512-x2MVs84VwuTYP0I99+3A4LWPZ9g+zT4got7diQzWB4bijVsfwhNZU2ithpKaq6wTuHeLhqJICjqE6HffNlYO7w==" crossorigin="anonymous" />
        {% endblock %}
    </head>
    <body>

        {% include "shared/sidebar.html.twig" %}
        <div id="page-content-wrapper">

      {% include "admin/shared/header.html.twig" %}
        {% block body %}
        
         {% endblock %}
    <!-- /#page-content-wrapper -->
  {% include '/shared/footer.html.twig' %}    

        </div>
        


<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/fonts/js/all.js"></script>

        {% block javascripts %}
          <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha512-cOGL6gI01KK2Bws211W8S3COhzrorBbzKvLPWYOVtSEYet3yG1fzJrimtwh8rUyvMy9qjgY2e7Rt6IwyaiX1Mg==" crossorigin="anonymous"></script>  
        {% endblock %}
    </body>
</html>
