

{% extends "base.html.twig" %}
{% block title %}Acceuil{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur AfBnb!</h1>
    <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location .</p>
    <hr class="my-4">
    <p>Vous êtes voyageurs ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ? </p>
    <p class="lead">
        <a class="btn btn-grad btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
    </p>
    </div>


<h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>

<div class="row ">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"> 
            3 chambres, <strong>49&euro; / nuit</strong> <br>

            <small>Pas encore noté</small>
            
            </div>
            <img src="https://cdn.generationvoyage.fr/2018/12/rentabilite-conciergerie-airbnb.jpg" style=" height:200px; width: 100%; display: block;">
            <div class="card-body">
            
            <h4 class="card-title">Super appartement !</h4>
            <p class="card-text"> extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham</p>
            <a href="#" class="btn btn-outline-primary">Savoir plus</a>
            </div>
        </div>
    
    </div>

     <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"> 
            3 chambres, <strong>49&euro; / nuit</strong> <br>

            <small>Pas encore noté</small>
            
            </div>
            <img src="https://cdn.generationvoyage.fr/2018/12/rentabilite-conciergerie-airbnb.jpg" style=" height:200px; width: 100%; display: block;">
            <div class="card-body">
            
            <h4 class="card-title">Super appartement !</h4>
            <p class="card-text"> extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham</p>
            <a href="#" class="btn btn-outline-primary">Savoir plus</a>
            </div>
        </div>
    
    </div>

     <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"> 
            3 chambres, <strong>49&euro; / nuit</strong> <br>

            <small>Pas encore noté</small>
            
            </div>
            <img src="https://cdn.generationvoyage.fr/2018/12/rentabilite-conciergerie-airbnb.jpg" style=" height:200px; width: 100%; display: block;">
            <div class="card-body">
            
            <h4 class="card-title">Super appartement !</h4>
            <p class="card-text"> extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham</p>
            <a href="#" class="btn btn-outline-primary">Savoir plus</a>
            </div>
        </div>
    
    </div>
</div>

<h2 calss=" h1 mt-3 ">Nos propriétaires stars</h2>
<div class="row mt-4 ">
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title"> Afif Krayem</h4>
                <hr>
                    <div class="card-text">
                        <img src="images/profile.jpg" class="float-left mr-3">
                        <p>extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham</p>
                        <a href="#" class="btn btn-outline-primary float-right">En savoir plus</a>
                    </div>
                
                </hr>
            </div>
        </div>
    </div>



    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title"> Afif Krayem</h4>
                <hr>
                    <div class="card-text">
                        <img src="images/profile.jpg" class="float-left mr-3">
                        <p>extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham</p>
                        <a href="#" class="btn btn-outline-primary float-right">En savoir plus</a>
                    </div>
                
                </hr>
            </div>
        </div>
    </div>

</div>
{% endblock %}


